<%- include('partials/header') %>
<link rel="stylesheet" href="/style/boardlist.css">  
    <div class="content">
        <h2>■ 타팀게시판</h2>
        <table class="news-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>말머리</th>
                    <th>제목</th>
                    <th>닉네임</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <% if (notices && notices.length > 0) { %>
                    <% notices.forEach(notice => { %>
                        <tr class="notice-row clickable-row" data-href="/boardDetail?id=<%= notice.id %>">
                            <td data-label="번호">공지</td>
                            <td data-label="말머리"><%= notice.category || '-' %></td>
                            <td data-label="제목">
                            <a href="/boardDetail?id=<%= notice.id %>">📢 <%= notice.title %></a>
                            </td>
                            <td data-label="닉네임">
                            <div class="profile-wrapper">
                                <img src="<%= notice.brewers_profile_pic || '/img/default-profile.png' %>" class="profile-img">
                                <span class="nickname" data-username="<%= notice.brewers_nickname %>" data-userid="<%= notice.brewers_id %>">
                                <%= notice.brewers_nickname %>
                                </span>

                                <div class="profile-box" style="display: none;">
                                <a class="profileBtn" data-username="<%= notice.brewers_id %>">프로필 보기</a>
                                <a class="listBtn" href="/userList?id=<%= notice.brewers_id %>">게시글 보기</a>
                                <% if (brewers_id && brewers_id !== notice.brewers_id) { %>
                                    <a href="#" class="send-message" data-username="<%= notice.brewers_nickname %>" data-userid="<%= notice.brewers_id %>">쪽지 보내기</a>
                                <% } %>
                                </div>
                            </div>
                            </td>
                            <td data-label="작성일"><%= new Date(notice.created_at).toLocaleDateString('ko-KR') %></td>
                            <td data-label="조회수"><%= notice.views %></td>
                        </tr>
                    <% }); %>
                    <% } %>
                <% if (posts.length > 0) { %>  <!-- 게시글이 있을 경우 -->
                    <% posts.forEach((post, index) => { %>
                        <tr class="clickable-row" data-href="/boardDetail?id=<%= post.id %>">
                            <td data-label="번호"><%= totalPosts - (currentPage - 1) * postsPerPage - index %></td>
                            <td data-label="말머리"><a href="/mlb?category=<%= encodeURIComponent(post.category) %>"><%= post.category %></a></td>
                            <td data-label="제목">
                                <a href="/boardDetail?id=<%= post.id %>">
                                    <%= post.title %>
                                  
                                    <% if (post.thumbnail_image) { %> 
                                      🖼️
                                    <% } else if (post.thumbnail_video) { %> 
                                      🎬
                                    <% } %>
                                  </a>                                                                                           
                                <% if (post.comment_count > 0) { %>
                                  <span class="comment-count" style="color: red;">(<%= post.comment_count %>)</span>
                                <% } %>
                              </td>                              
                            <td data-label="닉네임">
                                <div class="profile-wrapper">
                                    <img src="<%= post.brewers_profile_pic || '/img/default-profile.png' %>" alt="프로필 이미지" class="profile-img">
                                    <a href="/userList?id=<%= post.brewers_id %>" class="nickname"><%= post.brewers_nickname %></a>
                                </div>
                                <div class="profile-box">
                                    <a id="profileBtn" class="profileBtn" data-username="<%= post.brewers_id %>">프로필 보기</a>
                                    <a class="listBtn" href="/userList?id=<%= post.brewers_id %>">게시글 보기</a>
                                    <% if (brewers_id && brewers_id !== post.brewers_id) { %>
                                        <a href="#" class="send-message" data-username="<%= post.brewers_nickname %>" data-userid="<%= post.brewers_id %>">쪽지 보내기</a>
                                    <% } %>
                                </div>
                            </td>
                            <td data-label="작성일"><%= new Date(post.created_at).toLocaleDateString('ko-KR') %></td>
                            <td data-label="조회수"><%= post.views %></td>
                        </tr>
                    <% }); %>
                <% } else { %>  <!-- 게시글이 없을 경우 -->
                    <tr class="no-post-row">
                        <td colspan="6" class="no-post-cell">등록된 게시글이 없습니다.</td>
                    </tr>
                <% } %>
            </tbody>            
        </table>
    </div>
    <%-include('searchBar.ejs')%>
    <div class="number-content">
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="<%= currentPath %>?page=<%= currentPage - 1 %>">&#8592; 이전</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="<%= currentPath %>?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="<%= currentPath %>?page=<%= currentPage + 1 %>">다음 &#8594;</a>
            <% } %>
        </div>        
        <div>
            <button id="writeBtn">글쓰기</button>
        </div>
    </div>    
<%- include('partials/footer') %>
<div id="profilePopup" class="profile-popup" style="display: none;"></div>
<script src="/js/script.js"></script>
<script src="/js/page.js"></script>
